body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.done {
  background-color: #f9f9f9;
}

label {
  margin-top: -.55em !important;
  margin-bottom: -.55em !important;
  color: #2980b9;
}

form {
  margin-top: 1em;
}

.close {
    margin-top: -1em;
    margin-right: -.7em;
}

.task {
  cursor: move;
}

.task-list {
  padding-top: 1em;
}

#done h3 {
  color: #2980b9 !important;
}
.done h1 {
  color: #27ae60 !important;
}

#done .card {
  color: blue !important;
  background-color: white;
  border-color: white;
}

.card h3 {
  margin: 0px;
}

button.close {
  display: none;
}
